* {
    margin: 0;
     
}
body{

    background-color:#FFFFFF; 
    color: #757575;;
    
}
body  h1{

    font-size: 1.7em;
    margin: 0px 0px 10px 0px;
}

/* Estilização Perfil */
img{
    width: 156px;
    height: 216px;
    margin-left: 5px;
    margin-top: 5px;
    
}
.dados-basicos{

    display: flex;
    justify-content: space-between; 
    padding-top: 20px;
    height: 20em;

    

}
.perfil{

    display: flex;
    width: 50%;
    margin-left: 20px;
    flex-wrap: wrap;
    
 
}
.foto{
   
    width: 168px;
    height: 226px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}
.informacoes{

   margin-left: 20px;   
 
}
.bt-curriculo{
    border-radius: 15px;
    background: #7A7A7A;    
    width: 152px;
    height: 41px;
    margin-top: 60px;   
    color: #FFF;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  
           
}
.bt-curriculo embed{
    
    display: none;
}
.bt-curriculo:hover{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
    

}
.linha{

    background-color: #000000a6;
    height: 0.1em;
    width: 574.001px;
    filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.973));    
    margin-bottom: 20px;
}
/* Estilização Projetos */

section{
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;  
     
        
}
.container{

   width: 35em;
   display: flex;
   justify-content: space-between;
   padding: 2em;

}
#cards img{
    height: 9.0em;
    margin: 0px ;  
    display: block;
    padding: 0.5em;
    
      
}
#cards:hover {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
    
}

#cards {
    /* font-size: 0.85em; */
    text-align: center;
    background-color: #FFF;
    padding: 0;   
    position: relative;
    display: flex;     
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);    
 
   
}


#cards a {

    text-decoration: none;
}
#cards p {

    
    color: rgba(0, 0, 0, .8);
    text-transform: uppercase;
    padding: 0.8em;
    letter-spacing: 1px;
    font-size: 0.6em; 
    
   
}

  

/* Estilização Bio */

main{
    width: 50%;
    display: flex;   
    flex-direction: column;
    /* text-align: center;     */
    
}
.sobre-mim{

    margin-left: 60px;
}
#aspas{

    width: 100px;
    height: 98px;
    
}
.abre-aspas{
    display: flex;
    justify-content: end;
}
.texto{

    padding: 30px 66px 0px 61px;
    letter-spacing: -0.266px;
    text-align:justify;
    font-size: 1.4em;
   
}

/* Estilização footter */



footer{

    background-color:  #7A7A7A;
    height: 180px;
    display: flex;   
       color: rgb(17, 19, 19);
}
#icone-footer{

    width: 30px;
    height: 30px;
}
form{

 display: flex;
 width: 30em;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 180px;

  
}
.formulario {

    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
}
input, textarea{

    border: 2px solid transparent;
    border-radius: 2.5px;
    margin: 5px 5px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);         
    border: #949494 solid 1px;
}

.rodape{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.rodape p{

    margin-top: 20px;
}
.redes-sociais {

  
   display: flex;
   align-items: center;
   gap: 0.5em;
     
}
#icone-footer:hover{

    transform: scale(1.05);   

}
.mensagem textarea{

    height: 30px;
}

